---
import Layout from "@layouts/Layout.astro";
import { getAllContextPanes } from "../../api/drupal";
import type { Pane } from "../../types";

export async function getStaticPaths() {
  const contextPanes: Pane[] = await getAllContextPanes();
  const pathsPromises: Promise<{
    params: { slug: string };
    props: any;
  }>[] = contextPanes.map(async (pane: Pane) => {
    return {
      params: { slug: pane.field_slug },
      props: {
        title: pane.title,
        id: pane.id,
        slug: pane.field_slug,
      },
    };
  });
  return Promise.all(pathsPromises);
}
const { title, id, slug, drupalNid }: any = Astro.props;
const current = {
  id,
  slug,
  type: `Pane`,
  parentId: ``,
  parentSlug: ``,
  parentType: ``,
};

export const prerender = true;
---

<h1>{title}</h1>
<h2>Context Panes</h2>
<p><strong>slug:</strong> {slug}</p>
<p><strong>id:</strong> {id}</p>
<astro-storyfragment data-id={JSON.stringify(current)}>
  <ul>
    <astro-pane key={`pane-${id}`}>
      <li id={`pane-${id}`} class="pane"></li>
    </astro-pane>
  </ul>
</astro-storyfragment>

<script>
  import { init } from "../../utils/init";
  init();
</script>
