---
import Layout from "@layouts/Layout.astro";
import PaneReact from "@components/PaneReact.tsx";
import { getAllStoryFragmentDatum, getAllPaneDatum } from "../api/drupal";
import type {
  MenuDatum,
  TractStack,
  Pane,
  PaneDatum,
  PaneDatumProps,
  PaneNode,
  StoryFragmentDatum,
  StoryFragment,
  StoryFragmentProps,
  ContentMap,
} from "../types";
import { cleanPaneDatum } from "../utils/cleanPaneDatum";

export async function getStaticPaths() {
  const storyFragments: StoryFragmentDatum[] = await getAllStoryFragmentDatum();
  const contentMap: ContentMap[] = storyFragments.map(
    (s: StoryFragmentDatum) => {
      return {
        id: s.id,
        slug: s.field_slug,
        parentId: s.field_tract_stack.id,
        parentSlug: s.field_tract_stack.field_slug,
      };
    }
  );
  const panes: PaneDatum[] = await getAllPaneDatum();
  const pathsPromises: Promise<{
    params: { slug: string };
    props: StoryFragmentProps;
  }>[] = storyFragments.map(async (storyFragment: StoryFragmentDatum) => {
    const date = new Date(storyFragment.changed);
    const msTimecode = date.getTime();
    const thisPanes = storyFragment.field_panes.map((p: PaneNode) => p.id);

    return {
      params: { slug: storyFragment.field_slug },
      props: {
        title: storyFragment.title,
        id: storyFragment.id,
        slug: storyFragment.field_slug,
        drupalNid: storyFragment.drupal_internal__nid,
        socialImagePath: storyFragment.field_social_image_path || undefined,
        tailwindBgColour:
          storyFragment.field_tailwind_background_colour || undefined,
        menu: storyFragment.field_menu,
        panes: storyFragment.field_panes,
        panesPayload: cleanPaneDatum(
          panes.filter((payload: PaneDatum) => thisPanes.includes(payload.id))
        ),
        tractStackId: storyFragment.field_tract_stack.id,
        tractStackTitle: storyFragment.field_tract_stack.title,
        tractStackSlug: storyFragment.field_tract_stack.field_slug,
        changed: msTimecode,
        contentMap,
      },
    };
  });
  return Promise.all(pathsPromises);
}
const {
  title,
  id,
  slug,
  drupalNid,
  socialImagePath,
  menu,
  panes,
  panesPayload,
  tractStackId,
  tractStackTitle,
  tractStackSlug,
  changed,
  contentMap,
}: StoryFragmentProps = Astro.props;
const current = {
  id,
  slug,
  parentId: tractStackId,
  parentSlug: tractStackSlug,
};
export const prerender = true;
---

<h1>{title}</h1>
<h2>Story Fragment</h2>
<p><strong>slug:</strong> {slug}</p>
<p><strong>id:</strong> {id}</p>
<p><strong>changed:</strong> {changed}</p>
<p><strong>contentMap:</strong> {JSON.stringify(contentMap)}</p>
<h2>Parent</h2>
<p>{tractStackTitle}</p>
<p><strong>slug:</strong> {tractStackSlug}</p>
<p><strong>id:</strong> {tractStackId}</p>
{
  !!menu ? (
    <>
      <h2>Menu</h2>
      <p>{JSON.stringify(menu)}</p>
    </>
  ) : null
}
<h2>Panes</h2>
<astro-storyfragment data-id={JSON.stringify(current)}>
  <ul>
    {
      panes.map((pane: PaneNode, idx: number) => (
        <astro-pane key={`pane-${pane.id}`}>
          <li id={`pane-${pane.id}`} class="pane">
            {idx <= 2 ? (
              <PaneReact
                client:load
                current={current}
                contentMap={contentMap}
                payload={
                  panesPayload
                    .filter((p: PaneDatumProps) => p.id === pane.id)
                    .at(0)!
                }
              />
            ) : (
              <PaneReact
                client:visible
                current={current}
                contentMap={contentMap}
                payload={
                  panesPayload
                    .filter((p: PaneDatumProps) => p.id === pane.id)
                    .at(0)!
                }
              />
            )}
          </li>
        </astro-pane>
      ))
    }
  </ul>
</astro-storyfragment>

<astro-link data-id={`welcome`}>
  <a class="text-yellow-300 hover:text-black" href="/welcome">welcome</a>
</astro-link>
<astro-link data-id={`get`}>
  <a href="/get">get</a>
</astro-link>
<astro-link data-id={`agency`}>
  <a href="/agency">agency</a>
</astro-link>
<astro-link data-id={`#`}>
  <a href="#">#</a>
</astro-link>

<script>
  import { init } from "../utils/init";
  init();
</script>
