---
import Layout from "@layouts/Layout.astro";
import { getStoryFragment, getAllStoryFragments } from "../api/drupal";
import type { StoryFragment, StoryFragmentDatum } from "../types";

export async function getStaticPaths() {
  const storyFragments: StoryFragment[] = await getAllStoryFragments();
  const pathsPromises: Promise<{
    params: { slug: string };
    props: { title: string; id: string; slug: string };
  }>[] = storyFragments.map(async (storyFragment: StoryFragment) => {
    return {
      params: { slug: storyFragment.field_slug },
      props: {
        title: storyFragment.title,
        id: storyFragment.id,
        slug: storyFragment.field_slug,
      },
    };
  });
  return Promise.all(pathsPromises);
}
const { title, slug, id }: { title: string; slug: string; id: string } =
  Astro.props;
const storyFragment: StoryFragmentDatum[] = await getStoryFragment(id);
const thisStoryFragment = storyFragment.at(0);
if (!thisStoryFragment)
  return new Response(null, {
    status: 301,
    headers: { Location: "/404" },
  });

export const prerender = true;
---

<p>{title}</p>
<p><strong>slug:</strong> {slug}</p>
<p><strong>id:</strong> {id}</p>
<p>
  <strong>storyFragment payload:</strong>
  {JSON.stringify(thisStoryFragment)}
</p>
<h2>panes</h2>
<ul>
  {
    thisStoryFragment.field_panes.map((pane: any, idx: number) => (
      <li
        hx-get={`/partials/pane/${pane.id}`}
        hx-trigger={idx < 2 ? `load` : `revealed`}
        hx-swap="innerHTML"
      />
    ))
  }
</ul>
