---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getProductByHandle } from "../../utils/shopify/shopify";
import { setCache } from "../../utils/shopify/cache";

const { handle } = Astro.params;
//const headers = Astro.request.headers;
//const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const ip = Astro.clientAddress;
const product = await getProductByHandle({ handle: handle || "", buyerIP: ip });
const firstVariant = product?.variants.nodes[0];

if (!product) {
  Astro.response.status = 404;
}

setCache.short(Astro);
---

<Layout
  title={`Product | ${product?.title}`}
  pubDatetime={new Date()}
  modDatetime={new Date()}
>
  <Header title={`Product | ${product?.title}`} slug={handle || `404`} />
  <main id="main-content">
    <div>
      <p>{product?.title}</p>
      <p>{JSON.stringify(product?.images)}</p>
      <p>{JSON.stringify(firstVariant?.price)}</p>
      <div set:html={product?.descriptionHtml} />
      <p>
        add to cart:
        {firstVariant?.id}
        {firstVariant?.quantityAvailable}
        {firstVariant?.availableForSale}
      </p>
    </div>
  </main>
  <Footer created={new Date()} context={true} />
</Layout>
